html{
  margin-left: 15%;
  margin-right: 15%;
}
footer{
  display: inline-block;
}
section{
  display: inline-block;;
  border: 2px solid black;
  height: 100px;
  width: 100%;
}
.mini-pics{
  float: right;
}
#big-pic{
  width: auto;
}
#logo{
  float: left;
  margin-left: 1%;
  margin-top: 1%;
}
#end-info{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 10pt;
  color: grey;
  line-height: 1px;
}
#list{
  margin-left: auto;
  margin-right: auto;

}
h5{
  margin-top: 2px;
  padding-top: 2px;
}
.main-text{
  text-align: left;
  width: auto;
  text-indent: 25px;
}
.chocolate-pizza{
  padding: 2px;
}
